html, body {
  height: 300px;
  width: 200px;
  margin: 2px;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 1em;
}

h2 {
  color: orange;
  font-size: 1.5em;
  text-align: center;
}

p {
  
}